<div class="sixteen content">
	<% if @tracks.empty? %>
		<h3>Sorry we didn't find any <%= query %> tracks :(</h3>
		<h4>but don't be sad, we have a picture for you:</h4>
	<% else%>
		<h3>Your <%= query %> mix is ready :)</h3>
		<div class="addthis_toolbox addthis_default_style ">
			<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
			<a class="addthis_button_tweet"></a>
			<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
			<a class="addthis_counter addthis_pill_style"></a>
		</div>
		<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
		<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4fde64687da8f688"></script>
	<% end%>
	<div class="player">
		<img src='<%=img %>' alt="">
		<div class="controls">
			<div class="sc-player">
					<% @tracks.each do |track|%>
						<a href="<%= track[:permalink_url]%>"><%= track[:title] %></a>
					<% end %>
			</div>	
		</div>
	</div>
	<% if not @tracks.empty? %>
		<div class="tracklist">
			<h3>Heard in this mix:</h3>
				<ul>
					<% @tracks.each do |track|%>
						<li><a href="<%= track[:permalink_url]%>" target="_blank"><%= track[:title] %></a>
					<% end %>
				</ul>
		</div>
	<% end %>
</div>
